@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --verde-amarillento: #E1D768;
  --verde-manzana: #9BBD6C;
  --primary-color: #88B497;
  --secondary-color: #5BAE9A;
  --accent-color: #5FA6B4;
  --gris-claro: #CCCCCC;
  --gris: #999999;
  --gris-oscuro: #3A3A3A;
  --error-color: #FCA5A5; /* soft red for corrections/alerts */
  --error-color-dark: #F87171; /* darker red used on hover */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-atkinson);
  --font-mono: var(--font-atkinson);
  --color-manzana: var(--verde-manzana);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-gris-claro: var(--gris-claro);
  --color-gris: var(--gris);
  --color-gris-oscuro: var(--gris-oscuro);
  --color-error: var(--error-color);
  --color-error-dark: var(--error-color-dark);
  --font-main: var(--font-atkinson), system-ui, sans-serif;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-atkinson), system-ui, sans-serif;
}