name: Crear y Publicar imagen en Docker Image, para el Frontend
on:
  push:
    branches:
     - main
    paths: 
     - 'frontend/**'
  pull_request:
    branches:
      - main
    paths: 
     - 'frontend/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps: 
    - name: checkout
      uses: actions/checkout@v4
    - name: clean state
      run: |
        rm package-lock.json
        rm -rf node_modules
      working-directory: frontend
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: install dependencies
      run: npm install
      working-directory: frontend
    - name: test
      run: npm test
      working-directory: frontend
    
  publish_images:
    needs: test
    runs-on: ubuntu-latest
    steps: 
    - name: checkout
      uses: actions/checkout@v4
    - name: build image
      run:  docker build ./frontend/ -t laraacuna/frontend-crz:latest
    - name: publish image
      run: |
        docker login -u laraacuna -p ${{ secrets.DOCKER_HUB_TOKEN }}
        docker push laraacuna/frontend-crz:latest
