name: Crear y Publicar imagen en Docker Image, para el MS de medicamentos
on:
  push:
    branches:
     - main
    paths: 
     - 'frontend/**'
  pull_request:
    branches:
      - main
    paths: 
     - 'frontend/**'

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps: 
    - name: checkout
      uses: actions/checkout@v4
    - name: build image
      run:  docker build ./frontend/ -t laraacuna/frontend-crz:latest
    - name: publish image
      run: |
        docker login -u laraacuna -p ${{ secrets.DOCKER_HUB_TOKEN }}
        docker push laraacuna/frontend-crz:latest
